$white: #eff3f5;
$MainColor: #7029b6;

body {
	letter-spacing: 1px;
	font-size: 1em;
	color: #434343;
	overflow: hidden;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

	* {
		padding: 0;
		margin: 0;
		font-weight: normal;
		text-decoration: none;
		list-style: none;
		box-sizing: border-box;
	}

	a {
		cursor: pointer;
	}
}

body,
#app {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 100%;
	padding: 30px 0;
}


// Header
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #eee;
	padding: 20px;
}