$white: #eff3f5;
$MainColor: #7029b6;

body {
	letter-spacing: 1px;
	font-size: 1em;
	color: #434343;
	flex-direction: column;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

	* {
		padding: 0;
		margin: 0;
		font-weight: normal;
		text-decoration: none;
		list-style: none;
		box-sizing: border-box;
	}

	a,
	a:active,
	a:hover {
		color: rgb(43, 43, 43);
		cursor: pointer;
	}
}

body,
#app {
	height: 100%;
	width: 100%;
	margin: 0 auto;

	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #eee;
		padding: 20px;

		.item {
			padding: 10px;
		}
	}

	.Carousel {
		width: 100%;
		position: relative;
		top: 60px;
		left: 0;

	}

	.project_container {
		margin-top: 62px;
		height: calc(100vh - 62px);
		overflow: hidden;
		display: flex;

		.container {
			padding: 30px;
			flex: 1 1 0;
			overflow-y: auto;
		}
	}

}